<h1 style="margin-bottom: 2rem;margin-left: 12rem;">New ToDo</h1>
<%= render 'form', todo: @todo %>

<%= link_to 'Back', todos_path,class: "btn btn-dark",style:"margin-top: 2rem;margin-left:13rem;" %>
